<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <!-- Designed elements - connectors to Boxalino Narrative API service - to be extended or used as base -->
        <service id="boxalino.api.request.transformer" class="Boxalino\RealTimeUserExperienceApi\Framework\Request\RequestTransformerAbstract"
                 abstract="true">
            <argument type="service" id="Doctrine\DBAL\Connection"/>
            <argument type="service" id="boxalino.api.request.parameter.factory"/>
            <argument type="service" id="Boxalino\RealTimeUserExperienceApi\Service\Api\Util\ConfigurationInterface"/>
            <argument type="service" id="Boxalino\RealTimeUserExperienceApi\Framework\Content\Listing\ApiSortingModelInterface"/>
            <argument type="service" id="monolog.logger"/>
        </service>
        <service id="boxalino.api.request.context.abstract" class="Boxalino\RealTimeUserExperienceApi\Framework\Request\ContextAbstract" abstract="true">
            <argument type="service" id="Boxalino\RealTimeUserExperienceApi\Service\Api\Request\RequestTransformerInterface"/>
            <argument type="service" id="boxalino.api.request.parameter.factory"/>
        </service>
        <service id="boxalino.api.request.context.item"
                 class="Boxalino\RealTimeUserExperienceApi\Framework\Request\ItemContextAbstract"
                 parent="boxalino.api.request.context.abstract"
                 abstract="true">
        </service>
        <service id="boxalino.api.request.context.autocomplete"
                 class="Boxalino\RealTimeUserExperienceApi\Framework\Request\AutocompleteContextAbstract"
                 parent="boxalino.api.request.context.abstract"
                 abstract="true">
        </service>
        <service id="boxalino.api.request.context.listing"
                 class="Boxalino\RealTimeUserExperienceApi\Framework\Request\ListingContextAbstract"
                 parent="boxalino.api.request.context.abstract"
                 abstract="true">
        </service>
        <service id="boxalino.api.request.context.search"
                 class="Boxalino\RealTimeUserExperienceApi\Framework\Request\SearchContextAbstract"
                 parent="boxalino.api.request.context.abstract"
                 abstract="true">
        </service>
        <service id="boxalino.api.request.context.cms"
                 class="Boxalino\RealTimeUserExperienceApi\Framework\Request\CmsContextAbstract"
                 parent="boxalino.api.request.context.listing"
                 abstract="true">
        </service>
    </services>

</container>
